<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

@{
    var tk = Session["KhachThue"] as AirBnb.Models.KhachThue;
}@if (tk != null)
{
    @* TH có tài khoản *@

    <div class="" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">

            <li class="nav-item dropdown">
                <a class="nav-link " href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="  dropdown-toggle d-flex align-items-center justify-content-center gap-2 user--dropdown">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g id="evaMenuFill0"><g id="evaMenuFill1"><g id="evaMenuFill2" fill="#000000"><rect width="18" height="2" x="3" y="11" rx=".95" ry=".95" /><rect width="18" height="2" x="3" y="16" rx=".95" ry=".95" /><rect width="18" height="2" x="3" y="6" rx=".95" ry=".95" /></g></g></g></svg>
                        <img class="object-fit-cover rounded-circle" width="32" height="32" src="~/Assets/Images/no-avatar.png" />
                    </div>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarLink">
                    <li>
                        <h5 class="dropdown-header primaryColor border-bottom">@tk.Ten.Split(' ').LastOrDefault()'s Account</h5>
                    </li>

                    @* DS yêu thích *@
                    <li>
                        <a class="dropdown-item" href="@Url.Action("Favorites","User",new {name = tk.Ten})">Favorites</a>
                    </li>

                    @* Đơn đặt phòng *@
                    <li>
                        <a class="dropdown-item" href="@Url.Action("Reservations","User",new {name = tk.Ten})">Reservations</a>
                    </li>

                    @* Hóa đơn *@
                    <li>
                        <a class="dropdown-item" href="@Url.Action("Bills","User",new {name = tk.Ten})">Bills</a>
                    </li>

                    @* Thông tin TK *@
                    <li>
                        <a class="dropdown-item" href="@Url.Action("PersonalInfo", "User", new {name = tk.Ten})">Account</a>
                    </li>

                    <li>
                        <a class="dropdown-item" href="@Url.Action("AirCover","Home")">About AirBnb</a>
                    </li>

                    <li>
                        <h5 class="dropdown-header primaryColor border-bottom">Wanna Leave?</h5>
                    </li>
                    @* Đăng xuất *@

                    <li>
                        <a class="dropdown-item" href="@Url.Action("LogOut","Home")" onclick="return confirmLogout();">Log Out</a>
                    </li>


                </ul>
            </li>
        </ul>
    </div>

}
else
{
    @*General User Panel*@

    <div class="" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">

            <li class="nav-item dropdown">
                <a class="nav-link " href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="  dropdown-toggle d-flex align-items-center justify-content-center gap-2 user--dropdown">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g id="evaMenuFill0"><g id="evaMenuFill1"><g id="evaMenuFill2" fill="#000000"><rect width="18" height="2" x="3" y="11" rx=".95" ry=".95" /><rect width="18" height="2" x="3" y="16" rx=".95" ry=".95" /><rect width="18" height="2" x="3" y="6" rx=".95" ry=".95" /></g></g></g></svg>
                        <img class="object-fit-cover rounded-circle" width="32" height="32" src="~/Assets/Images/no-avatar.png" />
                    </div>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarLink">
                    <li>
                        <h5 class="dropdown-header primaryColor border-bottom">Account</h5>
                    </li>
                    <li>
                        <a class="dropdown-item" href="@Url.Action("SignUp","Home")">Sign Up</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="@Url.Action("SignIn","Home")">Sign In</a>
                    </li>
                    <li>
                        <h5 class="dropdown-header primaryColor border-bottom">Help</h5>
                    </li>
                    <li>
                        <a class="dropdown-item" href="@Url.Action("HostSignUp","Host")">Become A Host !</a>
                    </li>

                    <li>
                        <a class="dropdown-item" href="@Url.Action("AirCover","Home")">About AirBnb</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

}








<script>




    function confirmLogout() {
        if (confirm("Are you sure you want to log out?")) {
            console.log("Confirm")

            return true;
        } else {
            console.log("Cancel")
            return false;
        }
    }




</script>

