@*General User Panel*@


<div class="" id="navbarNavDarkDropdown">
    <ul class="navbar-nav">

        <li class="nav-item dropdown">
            <a class="nav-link " href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="  dropdown-toggle d-flex align-items-center justify-content-center gap-2 user--dropdown">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g id="evaMenuFill0"><g id="evaMenuFill1"><g id="evaMenuFill2" fill="#000000"><rect width="18" height="2" x="3" y="11" rx=".95" ry=".95" /><rect width="18" height="2" x="3" y="16" rx=".95" ry=".95" /><rect width="18" height="2" x="3" y="6" rx=".95" ry=".95" /></g></g></g></svg>
                    <img class="object-fit-cover rounded-circle" width="32" height="32" src="~/Assets/Images/no-avatar.png" />
                </div>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarLink">
                <li>
                    <h5 class="dropdown-header primaryColor border-bottom">Account</h5>
                </li>
                <li>
                    <a class="dropdown-item" href="@Url.Action("SignUp","Home")">Sign Up</a>
                </li>
                <li>
                    <a class="dropdown-item" href="@Url.Action("SignIn","Home")">Sign In</a>
                </li>
                <li>
                    <h5 class="dropdown-header primaryColor border-bottom">Help</h5>
                </li>
                <li>
                    <a class="dropdown-item" href="@Url.Action("AirCover","Home")">Become A Host !</a>
                </li>

                <li>
                    <a class="dropdown-item" href="@Url.Action("AirCover","Home")">About AirBnb</a>
                </li>
            </ul>
        </li>
    </ul>
</div>





@* Customer Panel *@
<!--<div class="" id="navbarNavDarkDropdown">
    <ul class="navbar-nav">

        <li class="nav-item dropdown">
            <a class="nav-link " href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <div style="max-width:200px;" class="  dropdown-toggle d-flex align-items-center justify-content-center gap-2 user--dropdown">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g id="evaMenuFill0"><g id="evaMenuFill1"><g id="evaMenuFill2" fill="#000000"><rect width="18" height="2" x="3" y="11" rx=".95" ry=".95" /><rect width="18" height="2" x="3" y="16" rx=".95" ry=".95" /><rect width="18" height="2" x="3" y="6" rx=".95" ry=".95" /></g></g></g></svg>-->
@*<img class="object-fit-cover rounded-circle" width="32" height="32" src="~/Assets/Images/quan.png" />*@
<!--<p class="text-truncate">Jason</p>
    </div>
</a>
<ul class="dropdown-menu" aria-labelledby="navbarLink">
    <li><h5 class="dropdown-header primaryColor border-bottom">Your Activities</h5></li>-->
@* Danh sách yêu thích *@
<!--<li>
    <a class="dropdown-item" href="@Url.Action("SignUp","Home")">Favorites</a>
</li>-->
@* Đơn đặt phòng *@
<!--<li>
    <a class="dropdown-item" href="@Url.Action("SignIn","Home")">Reservations</a>
</li>-->
@* Hóa Đơn *@
<!--<li>
    <a class="dropdown-item" href="@Url.Action("SignIn","Home")">Bills</a>
</li>-->
@* Chỉnh sửa TT TK *@
<!--<li>
    <a class="dropdown-item" href="@Url.Action("SignIn","Home")">Account</a>
</li>-->
@* Đăng xuất *@
<!--<li>
                    <a class="dropdown-item" href="@Url.Action("AirCover","Home")">Log Out</a>
                </li>
            </ul>
        </li>
    </ul>
</div>-->
