@using AirBnb.Models;
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="my-4">
    <div class="row column-gap-4">
        <div class="col-md-3 col user-general-box " style="max-height:220px ">
            <div class="d-flex align-items-center justify-content-evenly">
                <div class="d-flex flex-column">
                    <img width="104" height="104" class="object-fit-cover" src="~/Assets/Images/quan.png" alt="Alternate Text" />

                    <p class="fw-bolder fs-3 text-center primaryColor">@Model.Ten</p>

                </div>

                <div class="d-flex flex-column">
                    <p class="fw-bolder fs-3 primaryColor">@Model.NamKN Years</p>

                    <div class="d-flex gap-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#0079FF" d="M10.95 15.55L16.6 9.9l-1.425-1.425L10.95 12.7l-2.1-2.1l-1.425 1.425l3.525 3.525ZM12 22q-3.475-.875-5.737-3.988T4 11.1V5l8-3l8 3v6.1q0 3.8-2.263 6.913T12 22Z" /></svg>
                        <p class="fw-normal text-center">Hosting</p>
                    </div>

                </div>
            </div>
        </div>


        <div class="col-md-8 col about-user-box p-4">
            <p class="fw-bolder fs-2">About me</p>


            <div class="container my-4 pb-4 border-custom-bottom">
                <div class="row row-gap-4">

                    <div class="col-md-6">
                        <div class="d-flex align-items-center column-gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="#ff5f63"><circle cx="12" cy="12" r="10" opacity=".5" /><path d="M8.575 9.447C8.388 7.363 6.781 5.421 6 4.711l-.43-.37A9.96 9.96 0 0 1 12 2c2.214 0 4.26.72 5.916 1.936c.234.711-.212 2.196-.68 2.906c-.17.257-.554.577-.976.88c-.95.683-2.15 1.02-2.76 2.278a1.42 1.42 0 0 0-.083 1.016c.06.22.1.459.1.692c.002.755-.762 1.3-1.517 1.292c-1.964-.021-3.25-1.604-3.425-3.553Zm4.862 8.829c.988-1.862 4.281-1.862 4.281-1.862c3.432-.036 3.896-2.12 4.206-3.173a10.006 10.006 0 0 1-8.535 8.664c-.323-.68-.705-2.21.048-3.629Z" /></g></svg>

                            <p class="fs-5 sub-text-color">@Model.DiaChi</p>

                        </div>
                    </div>

                    <div class="col-md-6">

                        <div class="d-flex align-items-center column-gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#ff5f63" d="M18.95 22q-3.225 0-6.288-1.438t-5.425-3.8q-2.362-2.362-3.8-5.425T2 5.05q0-.45.3-.75t.75-.3H7.1q.35 0 .625.225t.325.575l.65 3.5q.05.35-.013.638T8.4 9.45L6 11.9q1.05 1.8 2.625 3.375T12.1 18l2.35-2.35q.225-.225.588-.337t.712-.063l3.45.7q.35.075.575.338T20 16.9v4.05q0 .45-.3.75t-.75.3ZM17 12q-2.075 0-3.538-1.463T12 7q0-2.075 1.463-3.538T17 2q2.075 0 3.538 1.463T22 7q0 2.075-1.463 3.538T17 12Zm-.5-2h1V6h-1v4Zm.5-5q.2 0 .35-.15t.15-.35q0-.2-.15-.35T17 4q-.2 0-.35.15t-.15.35q0 .2.15.35T17 5Z"></path></svg>

                            <p class="fs-5 sub-text-color">@Model.SDT</p>

                        </div>
                    </div>

                    <div class="col-md-6">

                        <div class="d-flex align-items-center column-gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512"><path d="M256 64L32 176.295l32 21.072V400l32 16V217.849L255.852 320l132.144-85.451L480 174.727z" fill="#ff5f63" /><path d="M390.13 256L256 343.768 120.531 256 112 337.529C128 349.984 224 416 256.002 448 288 416 384 350.031 400 337.561L390.13 256z" fill="#888888" /></svg>

                            <p class="fs-5 sub-text-color">HUFLIT</p>

                        </div>
                    </div>

                    <div class="col-md-6">

                        <div class="d-flex align-items-center column-gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 11 11"><path d="M8 3V1.578L7.36 1H3.64L3 1.748V3H1.5l-.5.5v6l.5.5h8l.5-.5v-6L9.5 3H8zM4 2h3v1H4V2z" fill="#ff5f63" /></svg>

                            <p class="fs-5 sub-text-color">@Model.CongViec</p>

                        </div>
                    </div>
                </div>
            </div>

            <div class="my-4 ">
                <p class="sub-text-color fs-5 lh-lg">I am ambitious and determined. I always have something to work towards and love a good challenge. I have never been one to accept mediocrity and will jump at any chance to improve myself and prove others wrong. My prior position saw me promoted three times in under two years.</p>
            </div>

        </div>
    </div>
</section>

