@using AirBnb.Models;
@{
    ViewBag.Title = "Personal Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main class="my-4">
    <section class="my-5">
        <div class="row  flex-column flex-lg-row gap-md-4 align-items-center justify-content-center align-items-md-start justify-content-md-start ">

            <div class="col-lg-7 col px-2  ">
                <h2>Personal Info</h2>
                @using (Html.BeginForm("SavePersonalInfo", "User", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group my-4">
                        <label for="name">Name</label>
                        <div class="d-flex align-items-center justify-content-between ">
                            <input type="text" class="form-control" id="name" name="name" value="@Model.Ten" readonly />
                            <button type="button" style="border-color:#ff5f63" class="btn btn-light mt-2" onclick="toggleEdit('name')">Edit</button>

                        </div>
                    </div>

                    <div class="form-group my-4">
                        <label for="phone">Phone Number</label>

                        <div class="d-flex align-items-center justify-content-between ">

                            <input type="text" class="form-control" id="phone" name="phone" value="@Model.SDT" readonly />
                            <button type="button" style="border-color:#ff5f63" class="btn btn-light mt-2" onclick="toggleEdit('phone')">Edit</button>

                        </div>
                    </div>

                    <div class="form-group my-4">
                        <label for="card-number">Card Number</label>

                        <div class="d-flex align-items-center justify-content-between ">

                            <input type="text" class="form-control" id="card-number" name="card-number" value="@Model.SoTK" readonly />
                            <button type="button" style="border-color:#ff5f63" class="btn btn-light mt-2" onclick="toggleEdit('card-number')">Edit</button>

                        </div>
                    </div>

                    <div class="form-group my-4">
                        <label for="expiry-date">Expiry Date</label>

                        <div class="d-flex align-items-center justify-content-between ">
                            <input type="date" id="expiry-date" name="expiry-date" value="@Model.NgayHH" readonly />
                            <button type="button" style="border-color:#ff5f63" class="btn btn-light mt-2" onclick="toggleEdit('expiry-date')">Edit</button>

                        </div>
                        @{
                            if (Model.NgayHH != null)
                            {
                                <p>@Model.NgayHH.ToString("dd/MM/yyyy")</p>
                            }
                            else
                            {
                                <p></p>
                            }
                        }




                    </div>


                    <div class="form-group my-4">
                        <label for="cvv-number">CVV Number</label>

                        <div class="d-flex align-items-center justify-content-between ">

                            <input type="tel" class="form-control" id="cvv-number" name="cvv-number" value="@Model.CVV" min="100" max="999" maxlength="3" pattern="\d*" readonly />
                            <button type="button" style="border-color:#ff5f63" class="btn btn-light mt-2" onclick="toggleEdit('cvv-number')">Edit</button>

                        </div>
                    </div>

                    <button type="submit" style="background-color: #ff5f63;" class="btn btn-outline-light my-4 w-25">Save Changes</button>
                }


            </div>
            @*Noti Panel*@

            @{
                string[] bannerArr = new string[]
                {
        "https://thelesliestyle.com/wp-content/uploads/2019/07/how-to-convert-a-bedroom-into-an-airbnb-6-upholstered-headboard-on-sloped-ceiling-681x1024.jpg",
        "https://i.pinimg.com/736x/f0/87/d8/f087d8b737666e44104beb0471854b54.jpg",
        "https://th.bing.com/th/id/R.079fb3c4893d43d28160981269cb8977?rik=uuytFDERSSqJrw&riu=http%3a%2f%2fannesage.com%2fwp-content%2fuploads%2f2016%2f04%2fschoolhouse-electric-4.jpg&ehk=Ym8HFcJv1jcYa7rgMk8ohIDfJezbP%2b%2flLVglsPJtKdM%3d&risl=&pid=ImgRaw&r=0"
};

                Random random = new Random();
                string randomBannerUrl = bannerArr[random.Next(bannerArr.Length)];
            }
            <div class="col-lg-4  mx-auto bg-body ">
                <img class="object-fit-cover w-100 h-auto" src="@randomBannerUrl" alt="Alternate Text" />
            </div>
        </div>
    </section>
</main>






<script>


    function restrictToNumbers(inputId) {
        document.getElementById(inputId).addEventListener("input", function (event) {
            // Loại bỏ tất cả các ký tự không phải số từ giá trị nhập vào
            this.value = this.value.replace(/\D/g, '');
        });
    }

    // Gọi hàm và truyền id của trường nhập
    restrictToNumbers("card-number");
    restrictToNumbers("cvv-number");






    function toggleEdit(fieldName) {
        var inputField = document.getElementById(fieldName);
        var editButton = inputField.nextElementSibling;

        if (inputField.readOnly) {
            inputField.readOnly = false;
            editButton.textContent = "Cancel";
        } else {
            inputField.readOnly = true;
            editButton.textContent = "Edit";
        }

        inputField.focus();
    }
</script>