
@{
    ViewBag.Title = "Host Sign Up";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model AirBnb.Models.ChuNha


<div class="container-fluid my-5 rounded-4 overflow-hidden shadow">
    <div class="row">

        <div class="col-sm-6 col-md-8 form-section py-4">
            <div class="login-wrapper">
                <h2 class="login-title primaryColor">Sign Up As Host</h2>


                @using (Html.BeginForm("HostSignUp", "Host"))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row flex-md-row flex-column  column-gap-md-4">
                        <div class="col-5">

                            <div class="form-group">
                                <label for="email" class="sr-only">Email</label>
                                <input type="email" name="Email" id="email" class="form-control" placeholder="Email">
                                @Html.ValidationMessageFor(model => model.Ten, "", new { @class = "text-danger" })

                            </div>
                            <div class="form-group mb-3">
                                <label for="password" class="sr-only">Password</label>
                                <input type="password" name="MatKhau" id="password" class="form-control" placeholder="Password">
                                @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
                            </div>

                            @*<div class="form-group mb-3">
                        <label for="re-password" class="sr-only">Repeat Password</label>
                        <input type="password" name="re-password" id="re-password" class="form-control" placeholder="Re-Password">
                        @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
                    </div>*@

                            <div class="form-group mb-3">
                                <label for="experience" class="sr-only">Years Of Experience</label>
                                <input type="number" min="0" name="NamKN" id="experience" class="form-control" placeholder="4">
                                @*@Html.ValidationMessageFor(model => model.NamKN, "", new { @class = "text-danger" })*@

                            </div>
                        </div>


                        <div class="col-5">
                            <div class="form-group">
                                <label for="name" class="sr-only">Name</label>
                                <input type="text" name="Ten" id="name" class="form-control" placeholder="Nguyen Van A">
                                @Html.ValidationMessageFor(model => model.Ten, "", new { @class = "text-danger" })

                            </div>
                            <div class="form-group mb-3">
                                <label for="address" class="sr-only">Address</label>
                                <input type="text" name="DiaChi" id="address" class="form-control" placeholder="Su Van Hanh">
                                @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })

                            </div>

                            <div class="form-group mb-3">
                                <label for="phone" class="sr-only">Phone Number</label>
                                <input type="tel" name="SDT" id="phone" class="form-control" placeholder="0123456789">
                                @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })

                            </div>

                            <div class="form-group mb-3">
                                <label for="job" class="sr-only">Your Job</label>
                                <input type="text" name="CongViec" id="job" class="form-control" placeholder="Software Engineer">
                                @Html.ValidationMessageFor(model => model.CongViec, "", new { @class = "text-danger" })

                            </div>

                        </div>
                        <div class="d-flex justify-content-between align-items-center mb-5">
                            <button class="btn login-btn" type="submit">Sign Up</button>

                        </div>

                    </div>

                }


                <p class="login-wrapper-footer-text">Already had an account? <a href="@Url.Action("HostSignIn","Host")" class="text-primary">SignIn here</a></p>
            </div>
        </div>


        <div class="col-sm-6 col-md-4 intro-section-host">
            <div class="brand-wrapper">

                <h1 class="intro-title text-center text-white fs-2">Host your room</h1>
            </div>


        </div>

    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>



