@model IEnumerable<AirBnb.Models.Phong>

@{
    ViewBag.Title = "RoomManagement";
    Layout = "~/Views/Shared/_HostLayout.cshtml";
}


<div class="container-fluid">

    <h2 class="primaryColor fs-2 fw-bold my-4 text-center">Room Management</h2>
    <p class="bg-body my-4">
        @Html.ActionLink("Create New", "CreateRoom", null, new { @class = "text-white fs-5 fw-bold bg-primary p-2 rounded-2" })
        <hr class="primaryColor opacity-100" />
    </p>

    @if (ViewBag.Message != null)
    {

        <p class="d-flex align-items-center justify-content-center text-danger fw-bolder fs-2">@ViewBag.Message</p>



    }
    else
    {

        <div class="placeList">
            @foreach (var item in Model)
            {

                <div href="#" class="placeFrame">
                    <div class="d-flex align-items-center justify-content-center gap-4">
                        @Html.ActionLink("Edit", "EditRoom", new { id = item.MaPhong }, new { @class = "text-danger" })
                        @Html.ActionLink("Details", "Details", new { id = item.MaPhong }, new { @class = "text-danger" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.MaPhong }, new { @class = "text-danger" })
                    </div>
                    <div class="slider-frame mx-auto mx-md-0">

                        <div class="">
                            <img src="@item.HinhAnh1" class="img">
                        </div>


                    </div>
                    <div class="d-flex mt-2 fw-medium fs-5 text-black">@item.TieuDe</div>

                    <div class="d-flex TypeAndRating mt-2 text-black-50">
                        <p>@item.DanhMucPhong.TenDanhMuc</p>
                        <p class="PRating"><i class="fa-solid fa-star"></i> Good</p>
                    </div>

                    <div class="d-flex text-black">
                        <span class=" fw-bold">

                            $@item.Gia1Ngay.ToString("0")
                        </span>
                        <span> / night</span>
                    </div>
                </div>




            }
        </div>



    }
</div>