
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*HOMEPAGE*@
<main>

    @*Slider place view filter*@
    @Html.Partial("PlaceFilterCarousel")



    <div class="content">
        <div class="content__container">
            <p class="content__container__text">
                Your
            </p>

            <ul class="content__container__list">
                <li class="content__container__list__item primaryColor">Choices !</li>
                <li class="content__container__list__item primaryColor">Styles !</li>
            </ul>
        </div>
    </div>


    @* PRICE SLIDER *@



    <div class="placeList">

        <a href=" @Url.Action("Detail", "Room")" class="placeFrame">
            <div class="slider-frame mx-auto mx-md-0">
                <div class="slide-images">
                    <div class="img-container">
                        <img src="~/Assets/Images/sunset_1.jpg" class="img">
                    </div>

                    <div class="img-container">
                        <img src="~/Assets/Images/sunset_1.jpg" class="img">
                    </div>
                    <div class="img-container">
                        <img src="~/Assets/Images/sunset_1.jpg" class="img">
                    </div>
                </div>
            </div>
            <div class="d-flex mt-2 fw-medium fs-5 text-black">SaiGon, Vietnam</div>

            <div class="d-flex TypeAndRating mt-2 text-black-50">
                <p>Mansions</p>
                <p class="PRating"><i class="fa-solid fa-star"></i> Good</p>
            </div>

            <div class="d-flex text-black">
                <span class=" fw-bold">50$</span>
                <span> / night</span>
            </div>
        </a>

        <a href=" @Url.Action("Detail", "Room")" class="placeFrame">
            <div class="slider-frame mx-auto mx-md-0">
                <div class="slide-images">
                    <div class="img-container">
                        <img src="~/Assets/Images/sunset_1.jpg" class="img">
                    </div>

                    <div class="img-container">
                        <img src="~/Assets/Images/sunset_1.jpg" class="img">
                    </div>
                    <div class="img-container">
                        <img src="~/Assets/Images/sunset_1.jpg" class="img">
                    </div>
                </div>
            </div>
            <div class="d-flex mt-2 fw-medium fs-5 text-black">SaiGon, Vietnam</div>

            <div class="d-flex TypeAndRating mt-2 text-black-50">
                <p>Mansions</p>
                <p class="PRating"><i class="fa-solid fa-star"></i> Good</p>
            </div>

            <div class="d-flex text-black">
                <span class=" fw-bold">50$</span>
                <span> / night</span>
            </div>
        </a>
        <a href=" @Url.Action("Detail", "Room")" class="placeFrame">
            <div class="slider-frame mx-auto mx-md-0">
                <div class="slide-images">
                    <div class="img-container">
                        <img src="~/Assets/Images/sunset_1.jpg" class="img">
                    </div>

                    <div class="img-container">
                        <img src="~/Assets/Images/sunset_1.jpg" class="img">
                    </div>
                    <div class="img-container">
                        <img src="~/Assets/Images/sunset_1.jpg" class="img">
                    </div>
                </div>
            </div>
            <div class="d-flex mt-2 fw-medium fs-5 text-black">SaiGon, Vietnam</div>

            <div class="d-flex TypeAndRating mt-2 text-black-50">
                <p>Mansions</p>
                <p class="PRating"><i class="fa-solid fa-star"></i> Good</p>
            </div>

            <div class="d-flex text-black">
                <span class=" fw-bold">50$</span>
                <span> / night</span>
            </div>
        </a>
        <a href=" @Url.Action("Detail", "Room")" class="placeFrame">
            <div class="slider-frame mx-auto mx-md-0">
                <div class="slide-images">
                    <div class="img-container">
                        <img src="~/Assets/Images/sunset_1.jpg" class="img">
                    </div>

                    <div class="img-container">
                        <img src="~/Assets/Images/sunset_1.jpg" class="img">
                    </div>
                    <div class="img-container">
                        <img src="~/Assets/Images/sunset_1.jpg" class="img">
                    </div>
                </div>
            </div>
            <div class="d-flex mt-2 fw-medium fs-5 text-black">SaiGon, Vietnam</div>

            <div class="d-flex TypeAndRating mt-2 text-black-50">
                <p>Mansions</p>
                <p class="PRating"><i class="fa-solid fa-star"></i> Good</p>
            </div>

            <div class="d-flex text-black">
                <span class=" fw-bold">50$</span>
                <span> / night</span>
            </div>
        </a>
        <a href=" @Url.Action("Detail", "Room")" class="placeFrame">
            <div class="slider-frame mx-auto mx-md-0">
                <div class="slide-images">
                    <div class="img-container">
                        <img src="~/Assets/Images/sunset_1.jpg" class="img">
                    </div>

                    <div class="img-container">
                        <img src="~/Assets/Images/sunset_1.jpg" class="img">
                    </div>
                    <div class="img-container">
                        <img src="~/Assets/Images/sunset_1.jpg" class="img">
                    </div>
                </div>
            </div>
            <div class="d-flex mt-2 fw-medium fs-5 text-black">SaiGon, Vietnam</div>

            <div class="d-flex TypeAndRating mt-2 text-black-50">
                <p>Mansions</p>
                <p class="PRating"><i class="fa-solid fa-star"></i> Good</p>
            </div>

            <div class="d-flex text-black">
                <span class=" fw-bold">50$</span>
                <span> / night</span>
            </div>
        </a>
        <a href=" @Url.Action("Detail", "Room")" class="placeFrame">
            <div class="slider-frame mx-auto mx-md-0">
                <div class="slide-images">
                    <div class="img-container">
                        <img src="~/Assets/Images/sunset_1.jpg" class="img">
                    </div>

                    <div class="img-container">
                        <img src="~/Assets/Images/sunset_1.jpg" class="img">
                    </div>
                    <div class="img-container">
                        <img src="~/Assets/Images/sunset_1.jpg" class="img">
                    </div>
                </div>
            </div>
            <div class="d-flex mt-2 fw-medium fs-5 text-black">SaiGon, Vietnam</div>

            <div class="d-flex TypeAndRating mt-2 text-black-50">
                <p>Mansions</p>
                <p class="PRating"><i class="fa-solid fa-star"></i> Good</p>
            </div>

            <div class="d-flex text-black">
                <span class=" fw-bold">50$</span>
                <span> / night</span>
            </div>
        </a>
        <a href=" @Url.Action("Detail", "Room")" class="placeFrame">
            <div class="slider-frame mx-auto mx-md-0">
                <div class="slide-images">
                    <div class="img-container">
                        <img src="~/Assets/Images/sunset_1.jpg" class="img">
                    </div>

                    <div class="img-container">
                        <img src="~/Assets/Images/sunset_1.jpg" class="img">
                    </div>
                    <div class="img-container">
                        <img src="~/Assets/Images/sunset_1.jpg" class="img">
                    </div>
                </div>
            </div>
            <div class="d-flex mt-2 fw-medium fs-5 text-black">SaiGon, Vietnam</div>

            <div class="d-flex TypeAndRating mt-2 text-black-50">
                <p>Mansions</p>
                <p class="PRating"><i class="fa-solid fa-star"></i> Good</p>
            </div>

            <div class="d-flex text-black">
                <span class=" fw-bold">50$</span>
                <span> / night</span>
            </div>
        </a>
    </div>


</main>


