@model IEnumerable<AirBnb.Models.Phong>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*HOMEPAGE*@
<main>

    @*Slider place view filter*@
    @Html.Action("GetCategories", "Home")




    @* PRICE SLIDER *@




    <div class="content">
        <div class="content__container">
            <p class="content__container__text">
                Your
            </p>

            <ul class="content__container__list">
                <li class="content__container__list__item primaryColor">Choices !</li>
                <li class="content__container__list__item primaryColor">Joys !</li>
            </ul>
        </div>
    </div>




    <div class="placeList my-4">
        @foreach (var item in Model)
        {

            <a href=" @Url.Action("Detail", "Room", new {name = item.TieuDe})" class="placeFrame ">
                <div class="slider-frame mx-auto mx-md-0">
                    <div class="slide-images">
                        <div class="img-container">
                            <img src="@item.HinhAnh1" class="img">
                        </div>

                        <div class="img-container">
                            <img src="@item.HinhAnh2" class="img">
                        </div>
                        <div class="img-container">
                            <img src="@item.HinhAnh3" class="img">
                        </div>
                    </div>
                </div>
                <div class="mt-2 fw-medium fs-5 text-black" style="width: 100%;">

                    <div class="text-truncate">@item.TieuDe</div>
                </div>


                <div class="d-flex TypeAndRating my-2 text-black-50">
                    <p>@item.DanhMucPhong.TenDanhMuc</p>
                    <p class="PRating">

                        @* Hiển thị trạng thái phòng *@
                        @if (item.TinhTrang)
                        {
                            <span class="text-danger ">Booked</span>
                        }
                        else
                        {
                            <span class="text-success">Available</span>
                        }


                    </p>
                </div>

                <div class="d-flex text-black">
                    <span class=" fw-bold primaryColor">  $@item.Gia1Ngay.ToString("0")</span>
                    <span> / night</span>
                </div>
            </a>
        }




    </div>




</main>


